:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.header-container, .main-container, .statistics-container, .bottom-container, footer {
    padding: 0 80px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #e2fdfd;
}

.header-container {
    width: 100%;
    padding-top: 30px;
    
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 15%;
    display: flex;
    align-items: center;
}

.fa-bars {
    display: none;
}

header {
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options-container {
    display: flex;
    gap: 35px;
}

.header-options-container span, .login-container {
    color: var(--grayish-violet);
}

.header-options-container span:hover, .login-container:hover {
    cursor: pointer;
    color: var(--very-dark-violet);
    font-weight: 700;
}

.login-sign-container {
    display: flex;
    align-items: center;
    gap: 45px;
}

.sign-container {
    height: 40px;
    width: 110px;
    border-radius: 25px;
    background-color: var(--cyan);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-container:hover, .btn-started:hover {
    background-color: rgb(144, 245, 245);
    cursor: pointer;
}

.main-container {
    width: 100%;
    padding-top: 100px;
}

.description-container {
    width: 100%;
    display: flex;
}

.description-content {
    width: 55%;
}

.description-content :nth-child(1) {
    line-height: 85px;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.description-content :nth-child(2) {
    color: var(--gray);
}

.btn-started {
    width: 180px;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--cyan);
    color: #fff;
}

.working-img-container {
    width: 45%;
}

.working-img-container img {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-container {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark-violet);
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.link-text-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.link-text {
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.error-msg {
    display: none;
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    font-size: 15px;
    color: var(--red);
}

.error {
    border: 2px solid var(--red);
}

.error::placeholder {
    color: var(--red);
}

.link-submit {
    width: 17%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: var(--cyan);
    color: #fff;
    transition: all 0.4s ease;
}

.link-submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.main-short-url {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.short-url-container {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
}

.urls-container {
    width: 85%;
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
}

.original-url {
    color: var(--very-dark-violet);
}

.short-url {
    color: var(--cyan);
}

.copy-btn {
    width: 100px;
    height: 45px;
    margin-right: 3%;
    border: none;
    border-radius: 5px;
    background-color: var(--cyan);
    color: #fff;
}

.copy-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.statistics-container {
    margin-top: 100px;

    text-align: center;
}

.statistics-title {
    font-size: 2rem;
    color: var(--very-dark-violet);
}

.statistics-description {
    margin-top: 10px;
    color: var(--grayish-violet);
}

.statistics-info-container {
    margin-top: 70px;
    display: flex;
    gap: 20px;
    position: relative;
}

.statistics-info-container section {
    height: 250px;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-img-container {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    border-radius: 50%;
    background-color: var(--very-dark-violet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-description-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    text-align: start;
}

.section-title {
    font-size: 20px;
    color: var(--very-dark-violet);
}

.section-p {
    font-size: 15px;
    color: var(--grayish-violet);
}

.section-records {
    margin-top: 50px;
}

.section-fully {
    margin-top: 100px;
}

.link-sections {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: 10px;
    background-color: var(--cyan);
    z-index: -1;
}

.bottom-container {
    width: 100%;
    margin-top: 70px;
    padding: 70px;
    text-align: center;
    background-color: var(--dark-violet);
    background-image: url(../images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-container p {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--very-dark-blue);
    color: #fff;

    display: flex;
}

footer h2 {
    font-size: 30px;
}

.links-container {
    width: 75%;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.features-container, .resources-container, .company-container {
    display: flex;
    flex-direction: column;
}

.features-container h3, .resources-container h3, .company-container h3 {
    font-size: 18px;
    font-weight: 700;
}

.links-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.links-content a {
    color: var(--grayish-violet);
    font-size: 15px;
}

.links-content a:hover {
    color: var(--gray);
}

.social-medias-container {
    margin-left: 15px;
}

.social-medias-container i {
    font-size: 25px;
    margin-left: 13px;
}

.social-medias-container i:hover {
    color: var(--cyan);
    cursor: pointer;
}