:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 30px 80px;
    overflow-x: hidden;
}

.header-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 15%;
    display: flex;
    align-items: center;
}

.fa-bars {
    display: none;
}

header {
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options-container {
    display: flex;
    gap: 35px;
}

.header-options-container span, .login-container {
    color: var(--grayish-violet);
}

.header-options-container span:hover, .login-container:hover {
    cursor: pointer;
    color: var(--very-dark-violet);
    font-weight: 700;
}

.login-sign-container {
    display: flex;
    align-items: center;
    gap: 45px;
}

.sign-container {
    height: 40px;
    width: 110px;
    border-radius: 25px;
    background-color: var(--cyan);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-container:hover, .description-content button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.main-container {
    width: 100%;
    padding-top: 100px;
}

.description-container {
    width: 100%;
    display: flex;
}

.description-content {
    width: 55%;
}

.description-content :nth-child(1) {
    line-height: 85px;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.description-content :nth-child(2) {
    color: var(--gray);
}

.description-content button {
    width: 180px;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--cyan);
    color: #fff;
}

.working-img-container {
    width: 45%;
}

.working-img-container img {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark-violet);
    border-radius: 12px;
}

.link-text-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.link-text {
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.error-msg {
    display: none;
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    font-size: 15px;
    color: var(--red);
}

.error {
    border: 2px solid var(--red);
}

.error::placeholder {
    color: var(--red);
}

.link-submit {
    width: 17%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: var(--cyan);
    color: #fff;
    transition: all 0.4s ease;
}

.link-submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*Media screen for tablet*/

@media screen and (max-width: 1030px) {
    body {
        padding: 30px 20px;
    }

    .logo-container {
        width: 20%;
    }
    
    header {
        width: 80%;
    }
    
    .description-content {
        width: 45%;
    }
    
    .description-content :nth-child(1) {
        line-height: 60px;
        font-size: 3rem;
    }

    .working-img-container {
        width: 55%;
    }
}

/*Media screen for mobile*/

@media screen and (max-width: 700px) {
    .header-container {
        position: relative;
    }

    .fa-bars {
        display: block;
        font-size: 35px;
        cursor: pointer;
        color: var(--grayish-violet);
    }
    
    header {
        width: 330px;
        margin-top: 45px;
        right: 0;
        margin-right: 20px;
        padding: 50px 25px;
        display: none;
        flex-direction: column;
        position: absolute;

        background-color: var(--dark-violet);
        border-radius: 10px;
    }

    .vissible {
        display: flex;
    }

    .header-options-container {
        width: 100%;
        padding-bottom: 25px;
        text-align: center;
        border-bottom: 1px solid var(--gray);

        flex-direction: column;
        gap: 20px;
    }

    .login-sign-container {
        width: 100%;
        padding-top: 25px;
        flex-direction: column;
        gap: 20px;
    }

    .header-options-container span, .login-container {
        color: #fff;
        font-weight: 700;
    }
    
    .header-options-container span:hover, .login-container:hover {
        color: var(--cyan);
    }

    .sign-container {
        width: 100%;
        height: 50px;
    }

    .main-container {
        padding-top: 50px;
    }
    
    .description-container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .description-content {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    
    .description-content :nth-child(1) {
        line-height: 45px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--very-dark-blue);
    }

    .description-content :nth-child(2) {
        margin-top: 20px;
    }
    
    .working-img-container {
        width: 100%;
    }
}